@import url('https://fonts.googleapis.com/css?family=Roboto');

#title {
	padding: 25px; 
	font-size: 200%;
}
div {
	text-align: center;
}
canvas {
	height: 300px;
}
button {
	margin: 10px;
	border: none; 
	background-color: #e7e7e7; 
	color: black;
	padding: 10px 15px;
}

body{
	font-family: 'Roboto', sans-serif;
}